<div class="col-md-6 offset-md-3">
<h3>Update Employee</h3>

<form (ngSubmit)="onSubmit()">
 <!-- //div for first name -->
    <div class="form-group">
        <label> First Name</label>
        <input type="text" class="form-control" id="firstName"
        [(ngModel)]="employee.firstName" name="firstName">
    </div>
    <!-- //div for last name -->
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" id="lastName"
        [(ngModel)]="employee.lastName" name="firstName">
    </div>
    <button class="btn btn-success " type="submit">submit</button>


</form>
</div>

